<%- stringcontent %>
var Template = function() { return `<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <head>
    <style>
    .showTextOnHighlight {
      tv-text-highlight-style: show-on-highlight;
    }
    .whiteButton {
      tv-tint-color: rgb(255, 255, 255);
    }
    .shelfLayout {
      padding: 40 90;
    }
    </style>
  </head>
  <productBundleTemplate>
    <background>
      <img src="${this.BASEURL}resources/images/HG_Fragesschau.png" />
    </background>
    <banner>
      <stack>
        <title>Title</title>
        <subtitle>Subtitle</subtitle>
        <text>Text</text>
        <description allowsZooming="true" template="templates/AlertWithDescription.xml" presentation="modalDialogPresenter">Blindtext</description>
        <row>
          <buttonLockup type="play">
            <badge src="resource://button-play" class="whiteButton" />
            <title>Title 1</title>
          </buttonLockup>
            <buttonLockup type="settings">
              <badge src="resource://button-more" class="whiteButton" />
              <title>Einstellungen</title>
            </buttonLockup>
        </row>
      </stack>
      <heroImg width="100" height="100" src="${this.BASEURL}resources/images/HG_Fragesschau_logo_profil.png" />
    </banner>
    <shelf>
      <header>
        <title>Videos in voller Länge ansehen</title>
      </header>
      <section>
      <% for(var i=0; i<chapters.length; i++) {%>
        <lockup videoURL="<%= chapters[i].url %>">
          <img src="http://192.168.178.55:1337/images/teaser/<%= chapters[i].id%>.mp4.png" width="252" height="160" />
          <title class="showTextOnHighlight"><%= chapters[i].name %></title>
          <overlay>
            
          </overlay>
          <relatedContent>
            <infoTable>
              <header>
                <title></title>
              </header>
              <info>
                <header>
                  <title></title>
                </header>
                <description allowsZooming="true"><%= chapters[i].name %></description>
              </info>
            </infoTable>
          </relatedContent>
        </lockup>
      <% } %>
      </section>
    </shelf>
  </productBundleTemplate>
</document>`
}
